$bluish: rgb(166, 197, 255);
$morebluish: rgb(151, 181, 237);
$borderblue: rgb(0, 10, 89);
$lessbluish: rgb(188, 211, 255);

$pinkish: rgb(237, 166, 255);
$morepinkish: rgb(208, 147, 223);
$borderpink: rgb(56, 0, 70);
$lesspinkish: rgb(243, 196, 255);
* {
    color: $borderblue;
    margin: 0;
}

.completed {
    text-decoration: line-through;
}

.not-completed {
    text-decoration: none;
}

.project-tab-active {
    background-color: $pinkish;
}

.task-tab-active {
    background-color: $bluish;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

#content-div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#task-tab-div {
    margin-left: 20px;
    padding-top: 5px;
    padding-right: 15px;
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 40px;
    background-color: $bluish;
    color: white;
    font-size: 2rem;

    ::before {
        content: "";
        position: relative;
        top: 40px;
        left: -20px;
        border-top: 45px solid transparent;
        border-left: 0px solid transparent;
        border-right: 20px solid $bluish;
        border-bottom: 0px solid $bluish;
    }

    ::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 125px;
        border-bottom: 45px solid $bluish;
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-top: 0px solid gray;
    }
}

#task-tab-div-container {
    display: inline;
    position: absolute;

    :hover {
        cursor: pointer;
    }
}

#project-tab-div-container {
    position: absolute;
    left: 100px;
    left: 140px;

    :hover {
        cursor: pointer;
    }
}

#project-tab-div {
    margin-left: 20px;
    padding-top: 5px;
    padding-right: 50px;
    width: 110px;
    height: 40px;
    background-color: $pinkish;
    color: white;
    font-size: 2rem;

    ::before {
        /* z-index: -1; */
        content: "";
        position: relative;
        top: 40px;
        left: -20px;
        border-top: 45px solid transparent;
        border-left: 0px solid transparent;
        border-right: 20px solid $pinkish;
        border-bottom: 0px solid $pinkish;
    }

    ::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 180px;
        border-bottom: 45px solid $pinkish;
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-top: 0px solid gray;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
    margin-right: 20px;

    input {
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        height: 1.5em;
        margin-top: 10px;
        width: 120px;
        padding-left: 10px;
    }
}

.project-input-field {
    border-color: $borderpink;
    background-color: $lesspinkish;
}

.task-input-field {
    border-color: $borderblue;
    background-color: $lessbluish;
}

#bottom-div {
    z-index: 1;
    padding-left: 40px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.new-entry-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.input-fields {
    display: flex;
}

label {
    margin-top: 5px;
}

.title-column {
    display: flex;
    align-items: center;
    overflow: hidden;
}

//task unique

#new-task-button {
    margin-top: 30px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $lessbluish;
    color: $borderblue;
    border-width: 1px;
    border-color: $borderblue;
}

#task-input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#task-list-div {
    margin-top: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: $borderblue;
    border-radius: 10px;
    border-width: 1px;

    :first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    :last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.task-row {
    display: grid;
    grid-template-columns: auto 230px;
    grid-template-rows: 35px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $bluish;
}

.task-row:nth-child(even) {
    background-color: $morebluish;
}

.task-row:nth-child(odd) {
    background-color: $bluish;
}

#task-control-column {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;

    button {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 3px;
        padding-bottom: 2px;
        border-radius: 10px;
        border-width: 1px;
        border-color: $borderblue;
        color: $borderblue;
        background-color: transparent;
        width: 65px;
    }
}

#task-complete-button {
    grid-column: 1 / 2;
}
#task-edit-button {
    grid-column: 2 / 3;
}
#task-remove-button {
    grid-column: 3 / 4;
}

#task-title-anchor:hover {
    cursor: pointer;
}

#task-title-anchor:active {
    color: black;
    font-size: 1.1em;
}

#task-submit-edit-button {
    display: block;
    margin-top: 11px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: $lessbluish;
    color: $borderblue;
    border-width: 1px;
    border-color: $borderblue;

}

// project unique

#new-project-button {
    margin-top: 30px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $lesspinkish;
    color: $borderpink;
    border-width: 1px;
    border-color: $borderpink;
}

#project-input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#project-list-div {
    margin-top: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: $borderpink;
    border-radius: 10px;
    border-width: 1px;

    :first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    :last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.project-row {
    display: grid;
    grid-template-columns: auto 230px;
    grid-template-rows: 35px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $pinkish;
}

.project-row:nth-child(even) {
    background-color: $morepinkish;
}

.project-row:nth-child(odd) {
    background-color: $pinkish;
}

#project-control-column {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    background-color: transparent;

    button {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 3px;
        padding-bottom: 2px;
        border-radius: 10px;
        border-width: 1px;
        border-color: $borderpink;
        color: $borderpink;
        background-color: transparent;
        width: 65px;
    }
}

#project-edit-button {
    grid-column: 2 / 3;
}
#project-remove-button {
    grid-column: 3 / 4;
}

#project-title-anchor:hover {
    cursor: pointer;
}

#project-title-anchor:active {
    color: black;
    font-size: 1.1em;
}

.property-row {
    display: grid;
    grid-template-columns: 50% 50%;
}

#properties-div {
    margin-top: 20px;
    width: 300px;
}

#property-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

#project-tasks-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

#project-submit-edit-button {
    display: block;
    margin-top: 11px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: $lesspinkish;
    color: $borderpink;
    border-width: 1px;
    border-color: $borderpink;

}
